@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // ViewBag.Title = "Index Page";
}
@model maybe451.Models.Success
<h2>Victory at last!</h2>

@Html.TextBoxFor(x => x.name, new { maxlength = "50", size = "50" })